body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    max-width: 100ch;
    margin-inline: auto; /*center the content*/
    padding-inline: 1rem;/*predict content from touching edges when display is downsized(add 1character size margin to both left and right)*/
    font: 100% / 1.5 system-ui;
}

nav ul,
nav li {
  display: contents; /*eliminating edge of list*/
}

nav {
  display:flex;/*positioning side by side*/
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200%);/* border-bottom: 1px solid oklch(80% 3% 200);(equivalent)*/
}

nav a{
  flex: 1;/*make width of all <a> same*/
  text-decoration: none;/*remove underline*/
  color: inherit;/*make links use the same text color as their parent element*/
  text-align: center;/*center the text in its box*/
  padding: 0.5em;/*make it easier to read by adding margin*/
}

nav a.current{
  border-bottom: 0.4em solid oklch(90% 3% 200);/*using bold underline to highlight current tag*/
  padding-bottom: 0.1em;/*decrease the same height as increased due to this css*/
}
